.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent-stepper {
  margin-top: 2rem !important;
}

.parent-step-content {
  margin-left: 3rem;
}

.css-14yr603-MuiStepContent-root {
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: none !important;
}

.css-smkl36-MuiCollapse-wrapper {
  display: flex !important;
  width: 124% !important;
}

.row > * {
  flex-shrink: 0 !important;
  /* max-width: 98% !important; */
}

.css-18k87ye-MuiTypography-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin-top: 15px !important;
}

.css-pwngrv-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  width: 50% !important;
  margin-left: 29rem !important;
  margin-bottom: 5rem !important;
  border: 2px solid darkgray;
}

.css-46bh2p-MuiCardContent-root {
  padding: 16px !important;
  margin-top: 2rem;
}

.inner-buttons {
  display: flex;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  height: 12rem !important;
  text-align: center;
  margin-top: 1rem;
}

.home > img {
  width: 100%;
}

@media screen and (min-width: 601px) {
  .image-header {
    font-size: 53px;
    font-weight: 600;
    position: absolute;
    top: 17rem;
    left: 33px;
  }
}

@media screen and (max-width: 600px) {
  .image-header {
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 47rem;
    left: 17px;
  }
}

@media screen and (min-width: 601px) {
  .image-header-1 {
    font-size: 53px;
    font-weight: 600;
    position: absolute;
    top: 17rem;
    left: 33px;
  }
}

@media screen and (max-width: 600px) {
  .image-header-1 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: 35rem;
    left: 17px;
  }
}

/* .image-header {
  font-size: 53px;
  font-weight: 600;
  position: absolute;
  top: 17rem;
  left: 33px;
} */

.image-sub-header {
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: 29rem;
  left: 33px;
}

@media screen and (min-width: 601px) {
  .image-sub-header-1 {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 29rem;
    left: 33px;
  }
}

@media screen and (max-width: 600px) {
  .image-sub-header-1 {
    font-size: 20px;
    /* font-weight: 600; */
    position: absolute;
    top: 55rem;
    left: 33px;
  }
}

@media screen and (min-width: 601px) {
  .button-contactus {
    border: none;
    background-color: #ffc800;
    border-radius: 35px;
    position: absolute;
    top: 31rem;
    left: 33px;
    font-size: 18px;
    padding: 18px;
    width: 14rem;
  }
}

@media screen and (max-width: 600px) {
  .button-contactus {
    border: none;
    background-color: #ffc800;
    border-radius: 35px;
    position: absolute;
    top: 89rem;
    left: 10px;
    font-size: 18px;
    padding: 12px;
    width: 19rem;
  }
}

/* .button-contactus {
  border: 1px solid black;
  background-color: #ffc800;
  border-radius: 35px;
  position: absolute;
  top: 31rem;
  left: 33px;
  font-size: 18px;
  padding: 18px;
  width: 14rem;
} */

.button-contactus:hover {
  border: none;
  background-color: white;
  color: #282c34;
  border-radius: 35px;
  position: absolute;
  top: 31rem;
  left: 33px;
  font-size: 18px;
  padding: 18px;
  width: 14rem;
  /* font-weight: 600; */
}

/* .content-1 {
  font-size: 33px;
  padding: 2rem;
  font-family: fangsong;
} */

@media screen and (min-width: 601px) {
  .content-1 {
    font-size: 33px;
    /* padding: 31px 31px 41px 88px; */
    padding: 2rem;
    font-family: fangsong;
  }
}

@media screen and (max-width: 600px) {
  .content-1 {
    font-size: 20px;
    /* padding: 31px 31px 41px 88px; */
    padding: 1rem;
    font-family: fangsong;
    margin-top: 13rem;
  }
}

@media screen and (min-width: 601px) {
  .network-sol {
    font-family: revert;
    font-weight: 600;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .network-sol {
    font-family: revert;
    font-weight: 600;
    margin-left: 1rem;
    font-size: 28px;
    margin-top: 9rem;
  }
}

/* .network-sol {
  font-family: revert;
  font-weight: 600;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .sub-elem {
    margin-left: 3rem;
    font-size: 21px;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .sub-elem {
    margin-left: 1rem;
    font-size: 21px;
    font-weight: 600;
  }
}

/* .sub-elem {
  margin-left: 3rem;
  font-size: 21px;
  font-weight: 600;
} */

@media screen and (min-width: 601px) {
  .border-black-Ethernet {
    border-bottom: 3px solid black;
    width: 5.6rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-Ethernet {
    border-bottom: 3px solid black;
    width: 5.6rem;
    margin-left: 1rem;
  }
}

/* .border-black-Ethernet {
  border-bottom: 3px solid black;
  width: 5.6rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-internet {
    border-bottom: 3px solid black;
    width: 5rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-internet {
    border-bottom: 3px solid black;
    width: 5rem;
    margin-left: 1rem;
  }
}

/* .border-black-internet {
  border-bottom: 3px solid black;
  width: 5rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-broadband {
    border-bottom: 3px solid black;
    width: 7rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-broadband {
    border-bottom: 3px solid black;
    width: 7rem;
    margin-left: 1rem;
  }
}

/* .border-black-broadband {
  border-bottom: 3px solid black;
  width: 7rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-fiber {
    border-bottom: 3px solid black;
    width: 6.5rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-fiber {
    border-bottom: 3px solid black;
    width: 6.5rem;
    margin-left: 1rem;
  }
}

/* .border-black-fiber {
  border-bottom: 3px solid black;
  width: 6.5rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-line {
    border-bottom: 3px solid black;
    width: 7.5rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-line {
    border-bottom: 3px solid black;
    width: 7.5rem;
    margin-left: 1rem;
  }
}

/* .border-black-line {
  border-bottom: 3px solid black;
  width: 7.5rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .margin-and-size-p {
    margin-left: 3rem;
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .margin-and-size-p {
    margin-left: 1rem;
    font-size: 19px;
  }
}

/* .margin-and-size-p {
  margin-left: 3rem;
  font-size: 19px;
} */

/* p {
  margin-left: 3rem;
  font-size: 19px;
} */

@media screen and (min-width: 601px) {
  .border-yellow {
    margin-top: 3rem;
    border-bottom: 15px solid #ffc800;
    width: 7rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-yellow {
    margin-top: 1rem;
    border-bottom: 15px solid #ffc800;
    width: 7rem;
    margin-left: 1rem;
  }
}

/* .border-yellow {
  margin-top: 3rem;
  border-bottom: 15px solid #ffc800;
  width: 7rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-orange {
    margin-top: 3rem;
    border-bottom: 15px solid #fa783c;
    width: 7rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-orange {
    margin-top: 1rem;
    border-bottom: 15px solid #fa783c;
    width: 7rem;
    margin-left: 1rem;
  }
}

/* .border-orange {
  margin-top: 3rem;
  border-bottom: 15px solid #fa783c;
  width: 7rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .voice-sol {
    margin-top: 5rem;
    font-family: revert;
    font-weight: 600;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .voice-sol {
    margin-top: 2rem;
    font-family: revert;
    font-weight: 600;
    margin-left: 1rem;
    font-size: 28px;
  }
}

/* .voice-sol {
  margin-top: 5rem;
  font-family: revert;
  font-weight: 600;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-local {
    border-bottom: 3px solid black;
    width: 13rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-local {
    border-bottom: 3px solid black;
    width: 13rem;
    margin-left: 1rem;
  }
}

/* .border-black-local {
  border-bottom: 3px solid black;
  width: 13rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-long {
    border-bottom: 3px solid black;
    width: 10.5rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-long {
    border-bottom: 3px solid black;
    width: 10.5rem;
    margin-left: 1rem;
  }
}

/* .border-black-long {
  border-bottom: 3px solid black;
  width: 10.5rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-international {
    border-bottom: 3px solid black;
    width: 10.5rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-international {
    border-bottom: 3px solid black;
    width: 10.5rem;
    margin-left: 1rem;
  }
}

/* .border-black-international {
  border-bottom: 3px solid black;
  width: 10.5rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-e911 {
    border-bottom: 3px solid black;
    width: 2.9rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-e911 {
    border-bottom: 3px solid black;
    width: 2.9rem;
    margin-left: 1rem;
  }
}

/* .border-black-e911 {
  border-bottom: 3px solid black;
  width: 2.9rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-direct {
    border-bottom: 3px solid black;
    width: 19.1rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-direct {
    border-bottom: 3px solid black;
    width: 19.1rem;
    margin-left: 1rem;
  }
}

/* .border-black-direct {
  border-bottom: 3px solid black;
  width: 19.1rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .border-black-line_voulume {
    border-bottom: 3px solid black;
    width: 11rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .border-black-line_voulume {
    border-bottom: 3px solid black;
    width: 11rem;
    margin-left: 1rem;
  }
}

/* .border-black-line_voulume {
  border-bottom: 3px solid black;
  width: 11rem;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .choose-brightspeed {
    margin-top: 5rem;
    background-color: #ffc800;
    padding: 2.5rem;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .choose-brightspeed {
    margin-top: 4rem;
    background-color: #ffc800;
    padding: 1rem;
  }
}

/* .choose-brightspeed {
  margin-top: 5rem;
  background-color: #ffc800;
  padding: 2.5rem;
  margin-bottom: 5rem;
} */

/* /////////////////////////////////////////////////// */
.why-h1 {
  margin-bottom: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 601px) {
  .why-p {
    color: black;
    padding: 0rem 5rem 0rem 0rem;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .why-p {
    color: black;
    font-size: 18px;
    /* padding: 0rem 5rem 0rem 0rem; */
  }
}

/* .why-p {
  color: black;
  padding: 0rem 5rem 0rem 0rem;
} */

@media screen and (min-width: 601px) {
  .brightspeed-sub {
    font-weight: 700;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .brightspeed-sub {
    font-weight: 700;
    /* margin-left: 3rem; */
    /* margin-top: 1rem; */
  }
}

/* .brightspeed-sub {
  font-weight: 700;
  margin-left: 3rem;
} */

@media screen and (min-width: 601px) {
  .brightspeed-sub-right {
    padding-right: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .brightspeed-sub-right {
    padding-right: 0;
  }
}

/* .brightspeed-sub-right {
  padding-right: 4rem;
} */

@media screen and (min-width: 601px) {
  .brightspeed-sub-right-content {
    margin-left: 3rem;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .brightspeed-sub-right-content {
    margin-left: 0rem;
    font-size: 18px;
  }
}

.choose-brightspeed-whoel-content {
  display: flex;
  justify-content: center;
}

/* .brightspeed-sub-right-content {
  margin-left: 3rem;
} */

/* @media screen and (min-width: 601px) {
  .brightspeed-sub-right-content {
    margin-left: 3rem;
    font-size: 16px;
  }
} */

@media screen and (max-width: 600px) {
  .social-icons {
    position: relative;
    bottom: 41rem;
    padding-left: 1rem;
    /* width: 129%; */
  }
}

/* .social-icons {
  position: absolute;
  bottom: -288rem;
} */

.logo-social {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  /* margin: 5px; */
}

.header-list {
  font-weight: 800;
  font-size: 19px;
  font-family: inherit;
}

@media screen and (min-width: 601px) {
  .list-customers {
    list-style: none;
  }
}

@media screen and (max-width: 600px) {
  .list-customers {
    list-style: none;
    margin-top: 15rem;
  }
}

@media screen and (min-width: 601px) {
  .list-customers-carrers {
    list-style: none;
  }
}

@media screen and (max-width: 600px) {
  .list-customers-carrers {
    list-style: none;
    /* margin-top: 15rem; */
  }
}

/* .list-customers {
  list-style: none;
} */

.list-customers-1 {
  list-style: none;
  margin-left: 4rem;
}

li {
  margin-top: 18px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
}

.img-brightspeed {
  margin-top: 24px;
}

.img-brightspeed-login {
  width: 23rem;
  margin: 1rem;
}

.follow-us {
  margin-top: 25px;
  font-weight: 600;
}

@media screen and (min-width: 601px) {
  .rights-content {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .rights-content {
    margin-top: 1rem;
  }
}

/* .rights-content {
  margin-top: 4rem;
} */

/* @media screen and (min-width: 601px) {
  .font-size-copyright-notices {
    font-size: 16px;
  }
} */

@media screen and (max-width: 600px) {
  .font-size-copyright-data {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .font-size-copyright-notices {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .font-size-copyright-notices {
    position: relative;
    bottom: 22rem;
    font-size: 16px;
    list-style: none;
    margin-left: -2rem;
  }
}

@media screen and (min-width: 601px) {
  .font-size-copyright {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .font-size-copyright {
    font-size: 16px;
    margin-bottom: 9rem;
    margin-left: 0.3rem;
    font-weight: 600;
  }
}

/* .font-size-copyright {
  font-size: 16px;
} */

.about-brightspeed {
  margin-bottom: 5rem;
}

.login-about-brightspeed {
  background-color: white;
}

.logo-header {
  margin-left: 4rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
  margin: 1rem;
  font-size: 17px !important;
}

.MuiAppBar-colorPrimary {
  color: black;
  background-color: white !important;
}

.border-botton-navbar {
  border-bottom: 2px solid rgb(165, 163, 163);
}

.nav-link {
  display: block !important;
  color: black !important;
  padding: 0 !important;
  text-decoration: none !important;
}

.gradiant-image {
  width: 100%;
  height: 0.4rem;
  margin-top: 0.6rem;
}

@media screen and (min-width: 601px) {
  .wholesale {
    padding: 3rem;
    margin-left: 7rem;
    padding-bottom: 5rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .wholesale {
    display: none;
  }
}

/* .wholesale {
  padding: 3rem;
  margin-left: 7rem;
  padding-bottom: 5rem;
  overflow: hidden;
} */

.hide {
  display: none;
  margin-left: 10rem;
  margin-top: 0rem;
  transition-duration: 3s, 5s;
  font-size: 16px;
  background-color: rgb(246, 234, 234);
  padding: 1rem;
  border-radius: 5px;
}

.myDIV {
  list-style: none;
  cursor: pointer;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}

.myDIV:hover + .hide {
  display: block;
  color: black;
}

.list-items-voip {
  margin-left: 2rem;
  list-style: none;
}

/* ////////////////////////////////////////// */
.makeStyles-navlinks-1 {
  display: flex;
  margin-left: auto !important;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 124%;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(to left, #fa783c, #ffc800);
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background: linear-gradient(to right, #fa783c, #ffc800);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item-title {
  font-size: 27px;
  font-weight: bold;
  color: #fff;
  font-family: system-ui;
  letter-spacing: 1.7px;
}

@media screen and (min-width: 601px) {
  .voip-product {
    font-family: revert;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .voip-product {
    font-family: revert;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 22rem;
  }
}

@media screen and (min-width: 601px) {
  .voip-services {
    font-family: ui-monospace;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .voip-services {
    font-family: ui-monospace;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 7px;
    font-size: 30px;
  }
}

@media screen and (min-width: 601px) {
  /* .voip-services {
    font-family: ui-monospace;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 30px;
  } */
}

@media screen and (max-width: 600px) {
  .bcc-web-content {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .bcc-mobile-content {
    display: none;
  }

  .bcc-mobile-content-select {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .bcc-mobile-content {
    /* margin-left: -9rem; */
    overflow: hidden;
  }
  .bcc-mobile-content-select {
    /* width: 18rem; */
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .whole-sale-margin-mobile-content {
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .dropdown-mobile-content {
    padding: 1rem;
  }
}

/* 
.bcc-mobile-content {
  display: none;
} */

.list-item-backside {
  font-size: 20px;
  color: #fff;
  font-family: system-ui;
}

.toolbar-header {
  margin-left: 4rem;
  color: #282c34;
}

.makeStyles-navlinks-13 {
  display: flex;
  margin-left: auto;
}

.makeStyles-navlinks-7 {
  display: flex;
  margin-left: auto;
}

.contactus {
  border: 1px solid black;
  background-color: white;
  border-radius: 35px;
  /* position: absolute; */
  top: 31rem;
  left: 33px;
  /* font-size: 18px; */
  padding: 9px;
  width: 9rem;
  margin-left: 2rem;
}

.contactus:hover {
  border: none;
  background-color: #ffc800;
  border-radius: 35px;
  /* position: absolute; */
  top: 31rem;
  left: 33px;
  /* font-size: 18px; */
  padding: 9px;
  width: 9rem;
  margin-left: 2rem;
  color: black;
}

@media screen and (max-width: 600px) {
  .img-social-1 {
    background-image: url("./images/Branding/Image\ Library/Brightspeed Image Library_Commercial_Retouched/RF_GettyImages-1359098471/RF_GettyImages-1359098471_Purchased 2.11.png");
    background-size: cover;
    height: 34rem;
    margin-top: -8.1rem;
  }
}

@media screen and (min-width: 601px) {
  .img-social-1 {
    background-image: url("./images/Branding/Image\ Library/Brightspeed Image Library_Commercial_Retouched/RF_GettyImages-1359098471/RF_GettyImages-1359098471_Purchased 2.11.png");
    background-size: cover;
    height: 34rem;
    margin-top: -1.1rem;
  }
}

.img-home {
  background-image: url("./images/Branding/Image\ Library/Brightspeed Image Library_Commercial_Retouched/RF_GettyImages-1359098471/RF_GettyImages-1359098471_Purchased 2.11.png");
  background-size: cover;
  height: 40rem;
}

.img-login {
  background-image: url("./images/Branding/Image\ Library/Brightspeed Image Library_Commercial_Retouched/RF_GettyImages-1359098471/RF_GettyImages-1359098471_Purchased 2.11.png");
  background-size: cover;
  height: 40rem;
}

.route-text-dec-none {
  text-decoration: none;
  color: #282c34;
}

.speakToSales {
  padding: 3rem;
  background-color: #ffc800;
}

.speakToSales-title {
  display: flex;
  justify-content: center;
  font-size: 44px;
  font-family: auto;
}

.speakToSales-contact {
  display: flex;
  justify-content: center;
}

.request-info {
  margin-top: 4rem;
}

.quote-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.login-button {
  /* margin-top: 2rem; */
  display: flex;
  justify-content: center;
  /* margin-left: -3rem !important; */
  margin-left: 6rem !important;
}

.req-info-title {
  font-family: system-ui;
  font-size: 40px;
}

.req-info-subtitle {
  font-size: 16px !important;
}

.footer-data {
  /* margin-left: 5rem;
  margin-top: 5rem; */
}

.privacy {
  color: #0d6efd !important;
}

.sales-order-button-save-cancel {
  padding: 0.5rem !important;
  border-radius: 10px !important;
  width: 150px !important;
  color: black !important;
  background-color: #ffc800 !important;
  text-transform: none !important;
  margin: 5px !important;
}

.quote-button-quote {
  padding: 1.2rem !important;
  border-radius: 35px !important;
  width: 150px !important;
  color: black !important;
  background-color: #fa783c !important;
  text-transform: none !important;
}

.login-button-login {
  padding: 1.2rem !important;
  border-radius: 35px !important;
  width: 150px !important;
  color: black !important;
  background-color: #ffc800 !important;
  text-transform: none !important;
  margin-top: 33px !important;
}

.brightspeed-email-button {
  padding: 1.2rem !important;
  border-radius: 35px !important;
  width: 150px !important;
  color: black !important;
  background-color: white !important;
  text-transform: none !important;
  margin-top: 1rem !important;
  border: 2px solid black !important;
  font-size: 17px !important;
}

.brightspeed-email-button:hover {
  color: white !important;
  background-color: black !important;
}

.anchor-bright {
  color: blue !important;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  padding: 1rem !important;
}

.horizontal-line {
  border: 2px solid gray;
}

.content-collpase {
  margin-left: 26rem;
  margin-top: -9.4rem;
  width: 50%;
}

.content-collpase-header {
  font-weight: 800;
  letter-spacing: 2px;
}

.content-collpase-sub-header {
  font-weight: 500;
  letter-spacing: 1px;
}

.content-collpase-content {
  font-size: 16px;
}

/* .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  border-left: 5px solid red !important;
} */

/* .css-cveggr-MuiListItemIcon-root {
  border-left: 5px solid red !important;
  height: 2rem;
} */

/* .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  background-color: gray !important;
} */

.bcc-selected {
  background-color: #ffc800 !important;
}

.css-4pdmu4-MuiBreadcrumbs-ol {
  display: flex !important;
  align-items: center !important;
  margin-left: 3rem !important;
  margin-top: -1rem !important;
}

a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 17px;
}

@media screen and (min-width: 601px) {
  .brightspeed-list-items {
    padding: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .brightspeed-list-items {
    padding: 1rem;
  }
}

.want-to-know-more-heading {
  font-weight: 800;
}

.want-to-know-more-content {
  font-size: 19px;
}

.brightspeed-list-style {
  list-style: none;
}

@media screen and (min-width: 601px) {
  .brightspeed-list-style-li {
    border-bottom: 2px solid black;
    padding: 9px;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .brightspeed-list-style-li {
    border-bottom: 2px solid black;
    padding: 5px;
    font-size: 20px;
    margin-left: -2rem;
  }
}

.brightspeed-list-style-li:hover {
  cursor: pointer;
}

.brightspeed-list-li-content {
  padding: 3rem 0 0rem 0;
  font-size: 16px;
}

.down-arrow-align {
  float: right;
  margin-top: 1rem;
}

.bright-speed-image-list {
  width: 36rem;
  height: 29rem;
}

@media screen and (max-width: 769px) {
  .navbar-items {
    display: none;
  }
}

/* .navbar-items {
  display: none;
} */

@media screen and (max-width: 769px) {
  .menu-icon {
    display: block;
    float: right;
  }
}

@media screen and (min-width: 770px) {
  .menu-icon {
    display: none;
  }
}

.iRvcTz div {
  background: black !important;
}

.iRvcTz {
  position: absolute !important;
  top: 35% !important;
  left: 1rem !important;
}

@media screen and (min-width: 601px) {
  .logo-header {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .logo-header {
    margin-top: 1rem;
    width: 70%;
  }
}

@media screen and (min-width: 601px) {
  .top-navbar {
    /* margin-left: 4rem; */
    /* display: none; */
  }
}

@media screen and (max-width: 769px) {
  .top-navbar {
    display: none;
  }
}

@media (max-width: 576px) {
  .kyjvoi {
    width: 100%;
    height: 87vh !important;
  }
}

.dAKlVH {
  top: 33% !important;
}

@media (max-width: 1199px) {
  .brightspeed-footer-content {
    margin-left: 2rem;
  }
}

/* .brightspeed-footer-content {
  margin-left: 1rem;
} */

@media screen and (min-width: 601px) {
  .contact-details {
    display: flex;
  }
}

@media (max-width: 768px) {
  .contact-details {
    display: none;
  }
}

/* .contact-details {
  display: flex;
} */

/* @media screen and (min-width: 601px) {

  .bottom-navbar-links {
    display: none;
  }
}

@media (max-width: 600px) {
  .bottom-navbar-links {
    display: block;
  }
} */

/* @media screen and (min-width: 601px) {
  .contact-details {
    display: flex;
  }
}

@media (max-width: 600px) {
  .contact-details {
    display: none;
  }
} */

.form-control-email {
  width: 79% !important;
  padding: 1rem 0.75rem !important;
  border: 3px solid #ced4da !important;
}

.login-form {
  margin-top: 12rem;
}

.login-password {
  margin-top: 10px !important;
}

.forget-password {
  border-bottom: 1px solid black;
  float: right;
  margin-left: 1rem;
  margin-top: -14px;
}

.forgt-pass-link {
  font-size: 13px;
}

.forget-password:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.loggedin-user {
  float: right;
  margin-right: 2rem;
  margin: 1rem;
}

.sales-porttal-heading {
  margin: 1rem;
  font-family: serif;
}

.tab-panle-sales-portal {
  border: 3px solid #8f8a8a;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.8rem;
  background-color: white;
}

.css-heg063-MuiTabs-flexContainer {
  display: flex !important;
  border: 2px solid #e3e0e0 !important;
  border-radius: 5px !important;
}

.go-button {
  /* padding: rem !important; */
  border-radius: 12px !important;
  width: 81px !important;
  color: black !important;
  /* background-color: #ffc800 !important; */
  text-transform: none !important;
  margin-top: 13px !important;
  margin-left: 5px !important;
  border: 1px solid gray !important;
  height: 3.7rem !important;
}
.go-button:hover {
  color: black !important;
  background-color: #ffc800 !important;
}

.new-button {
  border-radius: 10px !important;
  width: 150px !important;
  color: black !important;
  background-color: #ffc800 !important;
  text-transform: none !important;
  height: 3.7rem !important;
}

.new-button-container {
  display: flex;
  justify-content: end;
  margin-left: auto;
  margin-top: 1rem;
}

.sales-order-table {
  margin-top: 1rem !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  text-transform: none !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background-color: #ffc800 !important;
  color: black !important;
  text-transform: none !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: none !important;
  border: none !important;
  display: none !important;
}



.setting-icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.logged-in-user-settings {
  display: flex !important;
  margin-top: 1rem !important;
  justify-content: end !important;
}

.css-1gsv261 {
  border-bottom: none !important;
  border-color: rgba(0, 0, 0, 0.12);
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}

.sales-order-portal {
  margin-top: 4rem !important;
}